@import "./normalize.css";
@import './button.css';
@import './fonts.css';
@import './variables.css';
@import './footer.css';
@import './header.css';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

a {
    display: flex;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
}